<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias tenetur dolore perspiciatis obcaecati praesentium error voluptatem tempore cumque eaque numquam, temporibus recusandae sit laborum, optio cum quis accusantium laboriosam necessitatibus.</p>
    {{> footer}}
</body>
</html>